@model OmerCanberkKandemir.Models.Model.Tur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.turadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turadi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.turID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
